/* GLOBAL STYLES */
   /*Custom property*/
:root{
   --text-font: "Open Sans", sans-serif;/* - */
   --other-font: "Open Sans Condensed", sans-serif;
   --accent-color: #DE2E54;
   --accent-hover-color: rgba(222, 46, 84, 0.8);
   --accent-active-color: rgba(222, 46, 84, 0.6);
   --main-text-color: #444;
   --heading-text-color: #222;
   --bg-color: #fff;
   --other-bg-color: #0EB4C1;
   --bg-footer: #222;
   --black-color: #000;
   --white-color: #fff;
}

html{
   box-sizing: border-box;
   height: 100%;
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

/* BODY */
body{
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: var(--bg-color); /* - */
   color: var(--main-text-color); /* - */
   padding: 0;
   margin: 0;
   font-family: var(--text-font); /* - */
   font-weight: 400;
   font-size: 16px; /* - */
   line-height: 1.5; /* - */
}


/* LINK */
a{
   text-decoration: none;
}

/* LIST NONE */
li{
   list-style-type: none;
}

/* BUTTON */
.button{
   display: inline-block;
   padding: 12px 24px;
   color: var(--white-color);
   font-family: var(--other-font);
   font-weight: 700;
   font-size: 15px;
   letter-spacing: 2px;
   border: 2px solid transparent;
   border-radius: 8px;
   text-transform: uppercase;
}

/* CONTAINER */
.container{
   width: 100%;
   max-width: 1160px; /* - */
   padding: 0px 30px;
   margin: 0px auto;
}

/* ===== LET'S GO CODING =====*/

/*SITE HEADER*/
.site-header {
   padding: 24px 0px;
}
.site-header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.site-header__logo {
   display: flex;
   align-items: center;
   transition: opacity 0.2s ease-in-out;
}
.site-header__icon {
   margin: 0px 16px 0px 0px;
}
.site-header__logo-text {
   font-size: 24px;
   font-weight: 600;
   color: var(--heading-text-color);
   transition: color 0.2s ease-in-out;
}
   /*hover and active*/
.site-header__logo:hover .site-header__logo-text{
   color: var(--accent-color);
}
.site-header__logo:active{
   opacity: 0.6;
}
.site-header__sitenav {
   display: flex;
   align-items: center;
}
.site-header__sitenav-item:not(:last-child){
   margin: 0px 32px 0px 0px;
}
.site-header__sitenav-link {
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 2px;
   color: var(--heading-text-color);
   text-transform: uppercase;
   transition: color 0.2s ease-in-out;
}
   /*hover and active*/
.site-header__sitenav-link:hover{
   color: var(--accent-color);
}
.site-header__sitenav-link:active{
   opacity: 0.6;
}
.site-header__btn {
   background-color: var(--accent-color);
   transition: all 0.2s linear;
}
   /*hover and active*/
.site-header__btn:hover {
   background-color: var(--white-color);
   color: var(--accent-color);
   border-color: var(--accent-color);
}
.site-header__btn:active{
   background-color: var(--accent-color);
   color: var(--white-color);
   border-color: transparent;
   opacity: 0.6;
}
/*MAIN SECTION*/


   /*SITE HERO*/
.hero {
   background-color: var(--other-bg-color);
}
.hero__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hero__content {
   width: 500px;
}
.hero__heading {
   font-family: var(--other-font);
   font-size: 36px;
   font-weight: 700;
   line-height: 43.2px;
   color: var(--white-color);
   margin: 0px 0px 16px 0px;
}
.hero__text {
   font-size: 18px;
   line-height: 27px;
   color: var(--white-color);
   margin: 0px 0px 36px 0px;
}
.hero__btn {
   background-color: var(--accent-color);
   transition: all 0.2s linear;
}
   /*hover and active*/
.hero__btn:hover{
   background-color: var(--accent-hover-color);
}
.hero__btn:active{
   background-color: var(--accent-active-color);
}
.hero__img-wrap {
   width: 423px;
   height: 504px;
   margin: 29px 0px 0px 0px;
}
.hero__img{
   display: flex;
}

   /*SITE SERVICES*/
.services {
   padding: 120px 0px;
}
.services__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.services__heading {
   font-family: var(--other-font);
   font-weight: 700;
   font-size: 36px;
   line-height: 43.2px;
   color: var(--black-color);
   margin: 0px 0px 56px 0px;
}
.services__list {
   margin: 0px 0px 60px 0px;
}
.services__item {
   display: flex;
   align-items: center;
}
.services__item:not(:last-child){
   margin: 0px 0px 80px 0px;
}
.services__img {
   margin: 0px 64px 0px 0px;
   border-radius: 24px;
   box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}
.services__info-title {
   font-family: var(--other-font);
   font-weight: 700;
   font-size: 24px;
   line-height: 1.2;
   color: var(--heading-text-color);
   margin: 0px 0px 24px 0px;
}
.services__info-text {
   width: 600px;
   color: var(--main-text-color);

}
.services__btn {
   background: var(--accent-color);
   transition: all 0.2s linear;
}
   /*hover and active*/
.services__btn:hover {
   background-color: var(--white-color);
   color: var(--accent-color);
   border-color: var(--accent-color);
}
.services__btn:active{
   background-color: var(--accent-color);
   color: var(--white-color);
   border-color: transparent;
   opacity: 0.6;
}

   /*SITE CTA*/
.cta {
   background-color: var(--other-bg-color);
   padding: 64px 0px;
}
.cta__container {
   text-align: center;
}
.cta__heading {
   font-family: var(--other-font);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   color: var(--white-color);
   margin: 0px 0px 40px 0px;
}
.cta__btn {
   border-color: var(--white-color);
   transition: all 0.2s linear;
}
.cta__btn:not(:last-child){
   margin: 0px 40px 0px 0px;
}
   /*hover and active*/
.cta__btn:hover{
   background-color: var(--accent-color);
   border-color: transparent;
}
.cta__btn:active{
   background-color: var(--accent-color);
   color: var(--white-color);
   border-color: transparent;
   opacity: 0.6;
}
/*SITE FOOTER*/



/*MEDIA QUERY*/

   /* LAPTOP 1024 */
@media (max-width: 1024px) {

}

   /* Tablet 768 */
@media (max-width: 768px) {

}

   /* Mobile L 425 */
@media (max-width: 425px) {

}

   /* Mobile M 375 */
@media (max-width: 375px) {

}

/* Mobile S 320 */
@media (max-width: 320px) {

}